<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Alex Bankras
        include styles
        link(rel="stylesheet" href="/resources/css/index.css")
    body
        #header
            .content
                h1 Ik ben Alex Bankras
                h2 Ik hou van
                    span#hobby  programmeren
                    span#cursor
                    | .


    include scripts
    script(src="/resources/js/index.js")