<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Alex Bankras
        include styles
        link(rel="stylesheet" href="/resources/css/index.css")
    body
        #header
            .content
                h1 Ik ben Alex Bankras
                h2 Ik hou van
                    span#hobby  programmeren
                    span#cursor
                    | .
        .ui.grid.container
            .sixteen.wide.column
                #abilities
                    h2 Mijn programmeer kennis
                    .ability
                        .text
                            h3 Java
                        .ability-box(percentage="90")
                            .inner-box
                    .ability
                        .text
                            h3 Javascript
                        .ability-box(percentage="90")
                            .inner-box
                    .ability
                        .text
                            h3 SQL
                        .ability-box(percentage="75")
                            .inner-box
                    .ability
                        .text
                            h3 HTML/CSS
                        .ability-box(percentage="95")
                            .inner-box
                    .ability
                        .text
                            h3 PHP
                        .ability-box(percentage="25")
                            .inner-box
                    .ability
                        .text
                            h3 Python
                        .ability-box(percentage="10")
                            .inner-box

    include scripts
    script(src="/resources/js/index.js")