@import 'variables.scss';

body {
  font-family: Roboto;
  color: $textColor;
  background-color: $mainColor;
}

body, h1, h2, h3, h4, h5, p, ul, li {
  margin: 0;
  padding: 0;
}

#header {
  height: 20vh;
  width: 100%;
  position: relative;
  text-align: center;
  background-color: darken($mainColor, 10);

  #name {
    text-decoration: underline;
  }

  @include breakpoint(phablet) {
    height: 35vh;
  }

  h1 {
    font-size: 20px;
    @include breakpoint(phablet) {
      font-size: 35px;
    }
  }

  h2 {
    font-size: 12px;
    @include breakpoint(phablet) {
      font-size: 25px;
    }
  }

  .content {
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%, -50%));
  }

}

#abilities {
  padding-bottom: 25px;

  h2 {
    margin: 15px;
    color: lighten($secondaryTextColor, 15);
  }

  .ability {
    width: 100%;
    padding: 10px;
    height: 40px;

    .text {
      width: 40%;
      float: left;
      text-align: center;

      @include breakpoint(phablet) {
        width: 20%;
      }
    }

    .ability-box {
      width: 60%;
      height: 100%;
      float: left;
      background-color: lighten($mainColor, 8);

      @include breakpoint(phablet) {
        width: 80%;
      }

      .inner-box {
        min-width: 5px;
        width: 5px;
        background-color: darken($mainColor, 20);
        height: 100%;
      }
    }
  }

}

#studies-wrapper {
  background-color: lighten($mainColor, 10);
  padding-right: 0 !important;

  .ui.grid.container {
    margin-right: 0 !important;
  }
}

#studies {
  #certs-header {
    margin: 10px;
  }
  padding-top: 25px;

  @include breakpoint(phablet) {
    .container {
      display: flex;
      flex-flow: wrap;
    }
  }

  h2 {
    margin: 15px;
    color: lighten($secondaryTextColor, 30);
  }

  .study {
    width: 100%;
    margin: 20px 0;
    border: 3px solid lighten($mainColor, 20);
    background-color: darken($mainColor, 10);

    @include breakpoint(phablet) {
      width: 45%;
      margin: 10px 2.5%;
    }

    @include breakpoint(laptop) {
      width: 30%;
      margin: 10px 1.5%;
    }

    .type {
      text-align: center;
      background-color: lighten($mainColor, 5);
      padding: 10px;
      border-radius: 5px 5px 0 0;
    }

    .name {
      color: darken($textColor, 25);
      text-align: center;
      padding: 5px;
    }

    .description {
      color: darken($textColor, 10);
      font-size: 14px;
      padding: 10px;
    }

    .instance {
      font-size: 15px;
      padding: 10px;
      background-color: darken($mainColor, 5);
    }

    .certificate {
      width: 80%;
      margin: 10px 10%;
      background-color: $mainColor;
      border-radius: 10px;
      border: 2px solid lighten($mainColor, 15);

      .name {
        padding: 15px;
      }

      .meta {
        text-align: center;
        padding: 5px;
      }
    }

    .extra.content {
      padding: 10px;
      text-align: right;
    }
  }

}