body {
  font-family: Roboto;
  color: white;
  background-color: #181840; }

html {
  overflow: hidden; }

body, h1, h2, h3, h4, h5, p, ul, li {
  margin: 0;
  padding: 0; }

#header {
  height: 20vh;
  width: 100%;
  position: relative;
  text-align: center;
  background-color: #0a0a1b; }
  #header #name {
    text-decoration: underline; }
  @media (min-width: 37.5em) {
    #header {
      height: 35vh; } }
  #header h1 {
    font-size: 20px; }
    @media (min-width: 37.5em) {
      #header h1 {
        font-size: 35px; } }
  #header h2 {
    font-size: 12px; }
    @media (min-width: 37.5em) {
      #header h2 {
        font-size: 25px; } }
  #header .content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

#abilities {
  padding-bottom: 25px; }
  #abilities h2 {
    margin: 15px;
    color: #a6a6a6; }
  #abilities .ability {
    width: 100%;
    padding: 10px;
    height: 40px; }
    #abilities .ability .text {
      width: 40%;
      float: left;
      text-align: center; }
      @media (min-width: 37.5em) {
        #abilities .ability .text {
          width: 20%; } }
    #abilities .ability .ability-box {
      width: 60%;
      height: 100%;
      float: left;
      background-color: #23235e; }
      @media (min-width: 37.5em) {
        #abilities .ability .ability-box {
          width: 80%; } }
      #abilities .ability .ability-box .inner-box {
        min-width: 5px;
        width: 5px;
        background-color: black;
        height: 100%; }

#studies-wrapper {
  background-color: #262665; }

#studies {
  padding-top: 25px; }
  #studies #certs-header {
    margin: 10px; }
  @media (min-width: 37.5em) {
    #studies .container {
      display: flex;
      flex-flow: wrap; } }
  #studies h2 {
    margin: 15px;
    color: #cccccc; }
  #studies .study {
    width: 100%;
    margin: 20px 0;
    border: 3px solid #34348a;
    background-color: #0a0a1b; }
    @media (min-width: 37.5em) {
      #studies .study {
        width: 45%;
        margin: 10px 2.5%; } }
    @media (min-width: 64em) {
      #studies .study {
        width: 30%;
        margin: 10px 1.5%; } }
    #studies .study .type {
      text-align: center;
      background-color: #1f1f53;
      padding: 10px;
      border-radius: 5px 5px 0 0; }
    #studies .study .name {
      color: #bfbfbf;
      text-align: center;
      padding: 5px; }
    #studies .study .description {
      color: #e6e6e6;
      font-size: 14px;
      padding: 10px; }
    #studies .study .instance {
      font-size: 15px;
      padding: 10px;
      background-color: #11112d; }
    #studies .study .certificate {
      width: 80%;
      margin: 10px 10%;
      background-color: #181840;
      border-radius: 10px;
      border: 2px solid #2d2d78; }
      #studies .study .certificate .name {
        padding: 15px;
        color: white; }
      #studies .study .certificate .meta {
        text-align: center;
        padding: 5px;
        color: #d9d9d9; }
    #studies .study .extra.content {
      padding: 10px;
      text-align: right; }

#showcase-wrapper {
  background-color: #181840;
  padding: 25px 0; }
  #showcase-wrapper #showcase {
    overflow: hidden;
    width: 100%;
    position: relative; }
    #showcase-wrapper #showcase .arrow {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      cursor: pointer; }
    #showcase-wrapper #showcase .arrow.left {
      left: 25px; }
    #showcase-wrapper #showcase .arrow.right {
      right: 25px; }
    #showcase-wrapper #showcase ul {
      overflow: hidden;
      width: 100000%;
      list-style-type: none; }
    #showcase-wrapper #showcase li {
      overflow: hidden;
      padding: 0;
      width: 100vw;
      display: inline-block; }
    #showcase-wrapper #showcase h2 {
      margin: 15px;
      color: #a6a6a6; }
    #showcase-wrapper #showcase .showcase-item {
      text-align: center;
      display: inline-block; }
      #showcase-wrapper #showcase .showcase-item img {
        margin: 0 auto;
        display: block; }
      #showcase-wrapper #showcase .showcase-item .name {
        font-size: 20px; }
      #showcase-wrapper #showcase .showcase-item .description {
        width: 90%;
        margin-left: 5%; }
        @media (min-width: 37.5em) {
          #showcase-wrapper #showcase .showcase-item .description {
            width: 60%;
            margin-left: 20%; } }
        @media (min-width: 64em) {
          #showcase-wrapper #showcase .showcase-item .description {
            width: 40%;
            margin-left: 30%; } }

#footer {
  background-color: #0a0a1b; }
  #footer ul {
    list-style-type: none; }
    #footer ul li {
      display: inline-block; }

/*# sourceMappingURL=index.css.map */
